<div class="wrapper">
 <div class="left">
 	<img ui-sref="main" src="assets/img/js.png" alt="" id="logo">
 </div>
 <div class="right">
 	<ul>
 		<li><a ng-click="setLang('ru')">RU</a></li>
 		<li><a ng-click="setLang('en')">EN</a></li>
 		<li><a ui-sref="gusev">{{translate('gusev')}}</a></li>
 		<li><a ui-sref="iliev">{{translate('iliev')}}</a></li>
 		<li><a ui-sref="sich">{{translate('sich')}}</a></li>
 		<li><a ui-sref="ilyzshuk">{{translate('ilyzshuk')}}</a></li>
 		<li><a ui-sref="danilyuk">{{translate('danilyuk')}}</a></li>
 	</ul>
 </div>
</div>